*
!.gitignore

!LICENSE
!README.md

# rust
!src/
!src/**/
!src/**/*.rs
!Cargo.toml
!Cargo.lock

# nix
!flake.nix
!flake.lock

# extra scripts
!extra/
!extra/geodegen.sc
!extra/Geode.java

# actions
!.github/
!.github/workflows/
!.github/workflows/build.yml
